/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.forgot-password-info {
  font-size: 14px;
  line-height: 18px;
  text-align: center; }

.field-error {
  color: #D84935;
  margin-top: 10px; }

.registration-container {
  width: 440px;
  margin: 100px auto 0 auto; }

.registration-container_top {
  min-height: 40px;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
  border-bottom: 1px solid #ccc;
  position: relative; }
  .registration-container_top h1 {
    line-height: 1em;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0; }
  .registration-container_top h2 {
    line-height: 1em;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 5px 0 0 0;
    color: #999; }

.registration-container .box_content {
  padding-top: 40px; }

.registration-logo {
  width: 120px;
  height: 100px;
  background: url("../../../public/images/_base/logo_small.e56c39619c52.png") no-repeat;
  position: absolute;
  top: 0px;
  right: 10px; }

.registration-field {
  margin-bottom: 15px; }

.registration-error {
  width: 440px;
  background: #c00;
  color: #fff;
  margin: 15px auto;
  padding: 8px;
  line-height: 14px; }
