/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
h3 {
  font-family: 'Open Sans', Arial;
  font-weight: normal;
  text-transform: uppercase; }

.settings-url-list, .settings-url-list li {
  list-style: none !important;
  margin-bottom: 20px; }

.settings-url-desc {
  line-height: 16px;
  margin-top: 8px;
  color: #999; }

.settings-url-list a {
  font-family: 'Open Sans', Arial;
  font-weight: bold;
  color: #5AA2AA;
  font-size: 14px; }

.moduleContent {
  font-family: 'Open Sans', Arial;
  padding: 50px; }

.settings-icon {
  margin-bottom: 30px; }

.settings-grid {
  min-height: 380px; }

.settings-table-manager__header .settings-table-manager__button--label {
  margin-top: 19px; }

.settings-table-manager__header ~ .tbl {
  margin-top: 40px; }

.settings-table-manager .inline-edit {
  padding: 10px 0px; }

.settings-table-manager .col__header {
  font-weight: 600;
  text-transform: uppercase; }

.settings-table-manager .col__icon {
  vertical-align: middle;
  text-align: center; }
  .settings-table-manager .col__icon .icon--green {
    color: #2D9A3E; }
  .settings-table-manager .col__icon .icon--red {
    color: #D84935; }
  .settings-table-manager .col__icon .btn-icon {
    background: #fff; }
    .settings-table-manager .col__icon .btn-icon:hover i {
      color: #666; }
    .settings-table-manager .col__icon .btn-icon.btn-icon--red:hover i {
      color: #D84935; }
    .settings-table-manager .col__icon .btn-icon.btn-icon--green:hover i {
      color: #2D9A3E; }

.settings-table-manager .settings-table-manager__label {
  color: #999;
  letter-spacing: 1px;
  font-size: 80%; }

.settings-table-manager.settings-table-manager--gray th {
  background: #BEBEBE; }

.settings-img-row {
  position: relative; }
  .settings-img-row .settings-img-row__img {
    margin: auto;
    max-width: 100%; }
  .settings-img-row .settings-img-row__caption {
    text-align: left;
    font-style: italic;
    position: relative;
    width: 100%; }

.settings-row-moved img {
  opacity: .5; }

.settings-row-moved td {
  color: #BEBEBE !important; }

/*------------------------------------*    # Settings Detail Styles
\*------------------------------------*/
.settings-details {
  border: 1px solid #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .settings-details_title {
    font-weight: 600; }
  .settings-details_banner {
    height: 125px;
    min-height: 100px;
    padding: 15px 32px;
    background: #f9f9f9 url("../../../public/images/patterns/fun-bg1.e5376a41554d.png") center center;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease false;
    -o-transition: all 0.3s ease false;
    transition: all 0.3s ease; }
    .settings-details_banner h3 {
      margin: 0;
      padding: 30px 0px 10px;
      text-transform: uppercase;
      color: #50B748; }
    .settings-details_banner p {
      margin: 0;
      color: #BEBEBE; }
    .settings-details_banner .tab {
      padding: 20px 0px;
      margin-right: 20px; }

.export-csv-settings {
  background-color: #f9f9f9;
  border: thin solid #eee; }

.export-scv-settings__label {
  position: absolute;
  top: 20px; }

.export-modules__select {
  vertical-align: middle;
  min-width: 140px;
  margin: 40px 10px 30px 0px; }

.export-modules {
  border-bottom: thin solid #eee;
  padding: 20px 10px; }

.export-modules .btn {
  margin-top: 10px; }

.export-modules .export-modules__select {
  margin-top: 10px;
  margin-bottom: 0px; }

/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.watchlist_settings .empty-state {
  border: 1px solid #EEEEEE;
  padding: 60px 20px; }

/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.settings-locations-app .filter-btn {
  padding: 0px 7px; }

/*------------------------------------*    # Shared Location Components
\*------------------------------------*/
.location-user-thumbs li {
  display: inline-block;
  vertical-align: middle; }

.location-user-thumbs li img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.location-user-thumbs_count {
  padding: 6px 10px;
  background: #EEEEEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }

.location-user-thumbs_icon {
  font-size: 18px;
  margin-right: 5px;
  color: #414141; }

.settings-locations-app .tbl tr {
  border-left: none;
  border-right: none; }

.location-user-thumbs.location-user-thumbs--lg img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.location-user-thumbs.location-user-thumbs--lg .location-user-thumbs_count {
  padding: 19px 21px;
  font-size: 20px; }

.main-location-badge {
  margin-left: 10px;
  padding: 3px;
  display: inline-block;
  color: #26BCB9;
  border: 1px solid #26BCB9;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: top; }

.location-logo {
  width: 100%;
  line-height: 75px; }

.location-logo img {
  display: inline-block;
  max-width: 90%;
  max-height: 75px;
  vertical-align: middle;
  width: auto;
  height: auto; }

.location-logo--large {
  line-height: 125px; }

.location-logo--large img {
  max-height: 125px; }

/*------------------------------------*    # Location List
\*------------------------------------*/
.overflow-btns .overflow-btn.isDisabled {
  cursor: not-allowed; }

.overflow-btns .overflow-btn.isDisabled:hover {
  color: #BEBEBE;
  border-color: #BEBEBE; }

/*------------------------------------*    # Location Info
\*------------------------------------*/
.location-info, .location-form {
  border: 1px solid #eee;
  border-radius: 3px; }

.location-info .location-logo {
  width: 300px; }

.location-info .location-logo img {
  max-width: 100%; }

.location-info .box_content {
  padding: 10px 0px 60px 0px; }

.location-details .overflow-btn-group {
  position: absolute;
  right: 10px;
  top: 10px; }

/*------------------------------------*    # Location Details
\*------------------------------------*/
.location-details .location-details_locked {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: not-allowed; }

.location-details .location-details_locked i {
  width: 50px;
  line-height: 48px;
  text-align: center;
  font-size: 18px; }

.location-info .location-details {
  padding: 0 40px; }

.location-info .location-details .form p {
  font-size: 14px;
  font-weight: 600; }

.address-box {
  position: relative;
  border-top: 1px solid #EEEEEE;
  padding-top: 20px; }

.address-box_header {
  padding: 3px 10px;
  color: #2D9A3E;
  background: #fff;
  position: absolute;
  top: -13px;
  left: 0px;
  text-transform: uppercase;
  font-size: 10px; }

.address-box p {
  font-size: 14px;
  margin-bottom: 0px;
  color: #646464; }

/*------------------------------------*    # Location Departments
\*------------------------------------*/
/*------------------------------------*    # Location Roles
\*------------------------------------*/
.locations-roles .box_buttons {
  right: 20px; }

.locations-roles .filter-btn tbody {
  background: none; }

.locations-roles .filter-btn tbody:first-child {
  padding-left: 0; }

.filter-btn i {
  margin-top: 5px; }

.filter-btn.active {
  background: #26BCB9; }

.filter-btn.active i {
  color: #fff; }

/*------------------------------------*    # Roles User List
\*------------------------------------*/
.location-role-user-list .search .uli-container {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px; }

.location-role-user-list .search .uli-container .uli-input {
  padding-left: 40px; }

.location-role-user-list .search .add-user-btn {
  left: -1px;
  position: absolute;
  background-color: #50B748;
  color: #fff;
  padding-left: 10px;
  top: 0;
  bottom: 0;
  padding: 0px 18px;
  border: none; }

.location-role-user-list .search .add-user-btn i {
  width: 1px;
  height: 1px;
  color: white; }

.location-role-user-list .search .add-user-btn:active, .location-role-user-list .search .add-user-btn:focus {
  outline: none; }

.location-role-user-list .search .add-user-btn:hover {
  cursor: pointer;
  background-color: darkent(#50B748, 10%); }

.location-role-user-list .search input {
  height: 34px;
  width: 100%; }

.location-role-user-list .search input:focus {
  outline: 1px solid #2D9A3E; }

.location-role-user-list .location-role-user-list_permission-list {
  padding: 10px 20px;
  border: 1px solid #e1e1e1; }

.location-role-user-list .btn-group .filter-btn {
  padding: 0 6px; }

/*------------------------------------*    # Editing Roles
\*------------------------------------*/
/*------------------------------------*    # Location Form
\*------------------------------------*/
.location-form .address-box_header {
  top: -11px;
  font-size: 12px; }

.location-form .checkbox {
  font-size: 14px; }

.location-form .checkbox input {
  margin-right: 10px;
  margin-bottom: 3px; }

/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.user-details .user-info-form {
  border-right: 1px solid #eee;
  padding-right: 30px; }

.modal-content .create-role-input .create-role-input_name {
  position: absolute;
  line-height: 18px;
  z-index: 1;
  width: 80%; }

.modal-content .create-role-input .select2-container .select2-selection__rendered {
  text-indent: -99999px; }

.btn-variance-threshold-help {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 18px;
  color: #fff;
  border: 2px solid #fff;
  background: #26BCB9;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }

.btn-variance-threshold-help:hover, .btn-variance-threshold-help:focus, .btn-variance-threshold-help.active {
  background: #37485D; }

.btn-variance-threshold-help .fa, .btn-variance-threshold-help .help-btn i {
  font-size: 12px; }

.settings-users-app .filter-btn {
  padding: 0px 7px; }

.settings-users-app .users-list .pending-user, .settings-users-app .users-list .pending-user td {
  cursor: inherit; }

.settings-users-app .users-list .pending-user:hover td {
  background-color: inherit; }

.settings-permissions-app .department__container {
  border-bottom: 1px solid #eee; }

.settings-permissions-app .department__name {
  color: #333;
  text-transform: capitalize;
  font-size: 14px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  min-width: 180px; }

.settings-permissions-app .department__checkbox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.permissions__overlay {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000; }

/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.department__card {
  margin-bottom: 10px;
  cursor: pointer; }

.department__card .department__card__content {
  border: 1px solid #eee;
  padding: 10px; }

.department__card.department__card--selected {
  color: #2D9A3E;
  background-color: #dcf1da; }

.procurement-access_department .tag-input {
  min-height: 62px; }

.procurement-access_department .empty_message {
  color: #ccc;
  line-height: 50px;
  margin-left: 10px; }

/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.invoice__logo {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100px; }

.overview-list__row {
  line-height: 30px; }

.subscription__card {
  transition: all 0.1s ease-in-out;
  cursor: pointer; }

.subscription__card--selected {
  color: #2D9A3E;
  background-color: #dcf1da; }

.subscription__card__select {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  text-align: right;
  width: 80px;
  color: #414141; }

.subscription__card__icon {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 2em;
  color: #414141;
  margin: 0px 5px;
  width: 70px;
  text-align: center; }

.subscription__card__icon.subscription__card__icon--large {
  font-size: 4em; }

.subscription__card__desc {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.subscription-overview .subscription-overview__plan {
  color: #fff;
  background: #50B748; }

.subscription-overview .link {
  cursor: pointer; }

.subscription-overview .link--red {
  color: #E8583D; }

.subscription-default__header {
  font-size: 1.5em;
  cursor: pointer; }

.subscription-default .list-group-item {
  border: 1px solid #eee;
  margin-bottom: 10px; }

.subscription-default .panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px; }

.subscription-default .panel .panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

.subscription-default .panel .panel-body {
  padding: 15px; }

.subscription-default .panel.panel--danger {
  border-color: #ebccd1; }

.subscription-default .panel.panel--danger .panel-heading {
  color: #E8583D;
  background-color: #f2dede;
  border-color: #ebccd1; }

.subscription-default .panel.panel--green {
  border-color: #d6e9c6; }

.subscription-default .panel.panel--green .panel-heading {
  color: #50B748;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

.subscription-default .panel.panel--blue {
  border-color: #bce8f1; }

.subscription-default .panel.panel--blue .panel-heading {
  color: #26BCB9;
  background-color: #d9edf7;
  border-color: #bce8f1; }

.subscription-calc .btn {
  height: 40px;
  padding-top: 10px; }

.subscription-calc .subscription-calc__indicator {
  color: #50B748;
  font-weight: 600; }

.subscription-calc .input--inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 50px;
  margin: 0px 5px; }

.subscription-calc .subscription-calc__results {
  background: #50B748;
  color: #fff;
  padding: 20px; }

.subscription-calc .subscription-calc__results .line {
  border-color: #f9f9f9;
  margin-top: 20px;
  margin-bottom: 20px; }
