/* CSS Document */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xlg-1, .col-xlg-2, .col-xlg-3, .col-xlg-4, .col-xlg-5, .col-xlg-6, .col-xlg-7, .col-xlg-8, .col-xlg-9, .col-xlg-10, .col-xlg-11, .col-xlg-12, .col-xs-1-16, .col-xs-2-16, .col-xs-3-16, .col-xs-4-16, .col-xs-5-16, .col-xs-6-16, .col-xs-7-16, .col-xs-8-16, .col-xs-9-16, .col-xs-10-16, .col-xs-11-16, .col-xs-12-16, .col-xs-13-16, .col-xs-14-16, .col-xs-15-16, .col-xs-16-16, .col-sm-1-16, .col-sm-2-16, .col-sm-3-16, .col-sm-4-16, .col-sm-5-16, .col-sm-6-16, .col-sm-7-16, .col-sm-8-16, .col-sm-9-16, .col-sm-10-16, .col-sm-11-16, .col-sm-12-16, .col-sm-13-16, .col-sm-14-16, .col-sm-15-16, .col-sm-16-16, .col-md-1-16, .col-md-2-16, .col-md-3-16, .col-md-4-16, .col-md-5-16, .col-md-6-16, .col-md-7-16, .col-md-8-16, .col-md-9-16, .col-md-10-16, .col-md-11-16, .col-md-12-16, .col-md-13-16, .col-md-14-16, .col-md-15-16, .col-md-16-16, .col-lg-1-16, .col-lg-2-16, .col-lg-3-16, .col-lg-4-16, .col-lg-5-16, .col-lg-6-16, .col-lg-7-16, .col-lg-8-16, .col-lg-9-16, .col-lg-10-16, .col-lg-11-16, .col-lg-12-16, .col-lg-13-16, .col-lg-14-16, .col-lg-15-16, .col-lg-16-16, .col-xlg-1-16, .col-xlg-2-16, .col-xlg-3-16, .col-xlg-4-16, .col-xlg-5-16, .col-xlg-6-16, .col-xlg-7-16, .col-xlg-8-16, .col-xlg-9-16, .col-xlg-10-16, .col-xlg-11-16, .col-xlg-12-16, .col-xlg-13-16, .col-xlg-14-16, .col-xlg-15-16, .col-xlg-16-16{
	float: none;
}
@media (min-width: 768px){
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
		float: left;
	}
}


.navbar-default{
  background: #fff !important;
  position: fixed;
  width: 100%;

}

.l-app-container, .sidebar_nav{
  padding-top: 120px;
}

body{
	font-size: 14px;
	line-height: 130%;
	background-color: #f9fafb;
}

a{
	color: #2780e3;
}


strong, b{
	font-weight: bold;
}

p{
	margin-bottom: 15px;
}

.header-logo {
	padding-top: 11px;
}

.header-profile-name{
	margin-bottom: 0px;
}

.row-16{
    margin-left: -16px;
    margin-right: -16px;
}
.row-16 .well{
    margin-bottom: 0px;
}

.list-styled{
	padding-left: 15px;
	margin-left: 15px;
	list-style: disc;
}

.form-signin {
  /*max-width: 330px;
  padding: 15px;
  margin: 0 auto;*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.l-nav-container{
	position: fixed;
}

@media (max-width: 768px ) {

	.l-app-container{
		margin-left: 0;
	}
}

.my-navbar.nav > li > a:hover, .my-navbar.nav > li > a:focus {
    text-decoration: none;
    background-color: #0080b3;
}


.panel.panel-white > .panel-heading{
	background-color: #fff;
    color: #333333;
    border-color: #dddddd;
}

.occupation-suggest{
	max-height: 170px;
	overflow: auto;
}

.list-group-suggest{
	margin-bottom: 0px;
}

.list-group a{
	color: #2780e3;
}

.modal-content{
	background-color: #fff;
}


/*------------------------------------------------------------------
Begin [Steps Wizard]
*/
.steps {
	border-top: 1px solid #F3F3F3;
	border-bottom: 1px solid #F3F3F3
}
.steps ol {
	background-color: #f2f2f2;
	list-style: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	color: #bababa;

}
.steps li {
	float: left;
}
.steps li.level1{z-index: 1; }
.steps li.level2{z-index: 2; }
.steps li.level3{z-index: 3; }
.steps li div {
	font-size: 14px;
	font-weight: bold;
	padding: 4px 0 4px 40px;
	background-color: #f2f2f2;
	position: relative;
}
.steps li:last-child div {
	background-color: #f2f2f2;
	padding-right: 30px
}
.steps li div:after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #f2f2f2;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 100%;
	z-index: 5;
}
.steps li:last-child div:after {
	content: normal;
}
.steps li div:before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #cfcfcf;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}
.steps li:last-child div:before {
	content: normal;
}
.steps li div span {

	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 10px;
	text-align: center;
	line-height: 32px;
	background-color: #E8E8E8;
	background: url(../img/step_disabled.png);
	font-size: 14px;
}
.steps li.current div {
	background-color: #FFF;
	color: #0076d6
}
.steps li.current div span {
	color: #0076d6;
	background: url(../img/step_current.png)
}
.steps li.completed div {
	color: #395e00
}
.steps li.completed div span {
	color: #66A4E5;
	background: url(../img/step_completed.png);
	color: transparent;
}
.steps li.current div:after {
	border-left: 30px solid #FFF
}
.steps li:first-child div {
	padding-left: 10px;
}
/*--
End [Steps Wizard]
*/

.panel-group-products .panel{
	margin-bottom: 20px;
}

.panel-group-products .panel-heading{
	cursor: pointer;
}

.panel-group-products .well{
	background-color: #dadada;
}

.panel-group-products .panel-heading .heading-title:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';  /* essential for enabling glyphicon */
    content: "\f107";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-group-products .panel-heading.collapsed .heading-title:after {
    /* symbol for "collapsed" panels */
    content: "\f106";    /* adjust as needed, taken from bootstrap.css */
}

.note-help{
	display: none !important;
}


/***side progress**/

nav .lifecycle {
    /*border-top: 1px dotted #d2d2d2;*/
    padding-top: 4px
}

nav .lifecycle span {
    font-size: 13px;
    display: block;
    text-align: center;
    margin-bottom: 3px;
    color: #505050;
    margin-bottom: 15px
}

nav .lifecycle h5 {
    font-size: 16px;
    margin-bottom: 3px;
    text-align: center;
    color: #454855
}

@media screen and (max-width:480px) {
    nav .lifecycle {
        display: none
    }
}

nav .lifecycle ul.list {
    padding: 0;
    margin-top: 10px;
	background-color: transparent;
}

@media screen and (max-width:480px) {
    nav .lifecycle ul.list {
        width: 200px;
        overflow: hidden;
        margin: 0 auto
    }
}

nav .lifecycle ul.list .item {
    height: 40px
}

nav .lifecycle ul.list .item:nth-child(1) .circle {
    -webkit-animation-delay: .02s;
    animation-delay: .02s
}

nav .lifecycle ul.list .item:nth-child(2) .circle {
    -webkit-animation-delay: .04s;
    animation-delay: .04s
}

nav .lifecycle ul.list .item:nth-child(3) .circle {
    -webkit-animation-delay: .06s;
    animation-delay: .06s
}

nav .lifecycle ul.list .item:nth-child(4) .circle {
    -webkit-animation-delay: .08s;
    animation-delay: .08s
}

nav .lifecycle ul.list .item:nth-child(5) .circle {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

nav .lifecycle ul.list .item:nth-child(6) .circle {
    -webkit-animation-delay: .12s;
    animation-delay: .12s
}

nav .lifecycle ul.list .item:nth-child(7) .circle {
    -webkit-animation-delay: .14s;
    animation-delay: .14s
}

nav .lifecycle ul.list .item:nth-child(8) .circle {
    -webkit-animation-delay: .16s;
    animation-delay: .16s
}

nav .lifecycle ul.list .item:nth-child(9) .circle {
    -webkit-animation-delay: .18s;
    animation-delay: .18s
}

nav .lifecycle ul.list .item .indicator {
    width: 50px;
    height: 40px;
    position: relative;
    float: left;
	padding: 0;
	border: none;
}

nav .lifecycle ul.list .item .indicator .semiline {
    width: 3px;
    height: 50%;
    margin: 0 auto;
    background: #d2d2d2
}

nav .lifecycle ul.list .item .indicator .circle {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d2d2d2;
    top: 5px;
    left: 10px;
    background: #f9f9f9
}

nav .lifecycle ul.list .item span {
    line-height: 40px;
    font-size: 14px;
    text-align: left
}

nav .lifecycle ul.list .item.end .semiline:nth-child(2),
nav .lifecycle ul.list .item.start .semiline:first-child {
    background: inherit
}

nav .lifecycle ul.list .item.complete .circle {
    background: #438bd7;
    border-color: #438bd7
}

nav .lifecycle ul.list .item.current .semiline:first-childe {
    background: #438bd7
}

nav .lifecycle ul.list .item.current .circle {
    background: #f3a309;
    border-color: #f3a309
}
nav .lifecycle ul.list .item a:hover{
	text-decoration: none;
}

#homebiz_form .btn-group .btn{
	box-shadow: none;
}
#homebiz_form .btn-group .btn.active{
	background: #f3a309;
	color: #fff;
}

/*****checkbox****/


.form-checkbox, .form-radio {
  padding-right: 10px;
  padding-left: 34px;
  text-indent: -34px;
  display: inline;
  display: inline-block;
  *zoom: 1;
}

.form-control .form-checkbox, .form-control .form-radio {
  padding-top: 10px;
  /* should be as tall as a typical form element */
}

/*
	Enhanced Input Types
*/
/* Enhanced checkboxes and radio buttons */
.enhanced-checkbox {
  display: inline;
  display: inline-block;
  *zoom: 1;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  margin-bottom: 2px;
  vertical-align: middle;
}
.enhanced-checkbox input, .enhanced-checkbox span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.enhanced-checkbox input {
  /* Be above the span.checkbox */
  z-index: 2;
  opacity: 0;
}
.enhanced-checkbox span {
  background-image: url("../images/icon_sprite.png?version=1902015");
  background-position: -96px -128px;
}
.enhanced-checkbox input:focus ~ span, .input-hover-toggle .enhanced-checkbox input ~ span {
  background-position: -128px -128px;
}
.enhanced-checkbox input:active ~ span {
  background-position: -160px -128px;
}
.enhanced-checkbox input:checked ~ span {
  background-position: 0px -128px;
}
.enhanced-checkbox input:checked:focus ~ span, .input-hover-toggle .enhanced-checkbox input:checked ~ span {
  background-position: -32px -128px;
}
.enhanced-checkbox input:checked:active ~ span {
  background-position: -64px -128px;
}
.enhanced-checkbox input:disabled ~ span {
  background-position: -160px -128px;
}

.enhanced-radio {
  display: inline;
  display: inline-block;
  *zoom: 1;
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  margin-bottom: 2px;
  vertical-align: middle;
}
.enhanced-radio input, .enhanced-radio span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.enhanced-radio input {
  /* Be above the span.checkbox */
  z-index: 2;
  opacity: 0;
}
.enhanced-radio span {
  background-image: url("../images/icon_sprite.png?version=1902015");
  background-position: -288px -128px;
}
.enhanced-radio input:focus ~ span, .input-hover-toggle .enhanced-radio input ~ span {
  background-position: -320px -128px;
}
.enhanced-radio input:active ~ span {
  background-position: -352px -128px;
}
.enhanced-radio input:checked ~ span {
  background-position: -192px -128px;
}
.enhanced-radio input:checked:focus ~ span, .input-hover-toggle .enhanced-radio input:checked ~ span {
  background-position: -224px -128px;
}
.enhanced-radio input:checked:active ~ span {
  background-position: -256px -128px;
}
.enhanced-radio input:disabled ~ span {
  background-position: -352px -128px;
}

/**keyboard**/

.keyboard {
    background: inherit;
    width: 100%;
    border-collapse: collapse
}

@media screen and (max-width:480px) {
    .keyboard {
        display: none
    }
}

.keyboard .keyboard__delete,
.keyboard .keyboard__number {
    cursor: pointer;
    width: 33.3%;
    height: 54px;
    text-align: center;
    line-height: 50px;
    color: #454855;
    background-color: #fff;
    border: 1px solid #d2d2d2;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box
}

.keyboard .keyboard__delete:hover,
.keyboard .keyboard__number:hover {
    background-color: #f3a309;
    color: #fff
}

.keyboard .keyboard__delete {
    line-height: 57px
}

.keyboard .keyboard__delete:hover:before {
    background-color: #f3a309;
    color: #fff
}

.keyboard .keyboard__backspace:before {
    padding-right: 0;
    color: #8a8a8a
}

.input-keyboard {
    position: relative;
    width: 156px
}

@media screen and (max-width:480px) {
    .input-keyboard {
        width: 100%
    }
}

.input-keyboard .input-keyboard__currency {
    position: absolute;
    left: 4px;
    top: 4px;
    height: 30px;
    width: 30px;
    font-size: 28px;
    background-color: #fff
}

.input-keyboard .input-keyboard__currency:before {
    padding-right: 0;
    color: #d2d2d2
}

.input-keyboard .input-keyboard__input {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d2d2d2;
    padding-left: 10px;
    width: 100%;
    height: 40px!important;
    text-align: right;
    font-size: 1em;
    color: #454855;
    font-weight: 100;
    box-sizing: border-box
}

@media screen and (max-width:480px) {
    .input-keyboard .input-keyboard__input {
        text-align: left
    }
}

.input-keyboard .input-keyboard__input--nan {
    padding-right: 10px
}

@media screen and (max-width:480px) {
    .input-keyboard .input-keyboard__input--currency {
        padding-left: 35px
    }
}


.modal-backdrop{
	background-color: rgba(0, 0 , 0, .3);
}

.info-homebiz{
	cursor: pointer;
}

.the-homebiz-info{
	padding-top: 15px;
	display: none;
}

.the-sidebars{
	margin-left: 64px;
}

.row > .leftbar-still{
	position: fixed;
	top: 120px;
	left: 79px;
}
.row > .rightbar-still{
	position: fixed;
	top: 120px;
	right: 10px;
}

input[type="text"], input[type="date"], input[type="password"], input[type="email"], input[type="search"], input[type="number"], input[type="tel"], .form-group select, textarea {

    font-weight: normal;
    border: 1px solid #b1b9c3;
    font-size: 1em;
    border-radius: 4px;
    -webkit-transition-property: border-color, color, box-shadow;
    transition-property: border-color, color, box-shadow;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    max-width: 100%;
    box-shadow: none;

   /* border-radius: 5px;
    border: 1px solid #ced3d5;
    background-color: #f7f9fa;
    height: 39px;
    line-height: 21px;
    padding: 8px 9px;
    color: #363636;
    -webkit-box-shadow: inset 0px 1px 2px 0px #dfe4e7;*/
}

input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, .form-group select:focus, textarea:focus {
    color: #242a30;
    border-color: transparent;
    box-shadow: inset 0 0 0 1px #06F;	 /*51af33*/

    /*box-shadow: 0 0 2px #06F;
    border: 1px solid #06F;
    padding: 7px 8px;*/
}

/*.form-group.has-error input, .form-group.has-error input:focus, .form-group.has-error select, .form-group.has-error select:focus,  .form-group.has-error textarea, .form-group.has-error textarea:focus {
    border: 2px solid #f30000;
    padding: 7px 8px;
}*/


button.btn, a.btn, .btn:visited {
    -webkit-appearance: none;
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.38em !important;
	height: auto !important;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: normal;

    border: 1px solid #b1b9c3;
    background-color: white;
    outline: none;
    cursor: pointer;
    -webkit-transition-property: background, color, border-color, box-shadow;
    transition-property: background, color, border-color, box-shadow;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 0.16s;
    transition-duration: 0.16s;
    line-height: 1.4;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-transform: none;

    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform:  none;
    transform:  none;

}


.btn:hover{
    box-shadow: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform:  none;
    transform:  none;
}


/*rabbit*/
.panel-border-grey, .panel{
	border: #ddd solid 1px;
}

.panel-border-grey .border-left{
	border-left: 1px solid #ddd;
}

.panel-border-grey>.row{
	margin: 0px;
}

.padding{
	padding: 15px;
}

.panel-border-grey>.row>div{
	padding: 0px;
}
.list-group-rabbit .list-group-item{
	border: none;
	border-left: 3px solid #fff;
	color: #333;

}
.list-group-rabbit .list-group-item:nth-child(3){
	display: none;
}

.list-group-rabbit .list-group-item:hover, .list-group-rabbit .list-group-item:focus{
	border-left: 3px solid #eee;
	background-color: transparent;
}


.list-group-rabbit .list-group-item.active, .list-group-rabbit .list-group-item.active:hover, .list-group-rabbit .list-group-item.active:active{
	background: #eee;
	color: #009ddc;
	border-left: 3px solid #009ddc;

}

/***new toggle */
.header-profile{
	padding-top: 10px
}
.header-profile i{
	margin-top: 3px;
}

.header-profile p{
	margin-right: 30px;
	line-height: 15px;
}

.header-profile p small{
	font-size: 85%;
	display: block;
}


/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 0px;
    height: 80%;
    transform: translateX(250px);
    overflow-y: auto;
    background: rgba(255, 255, 255, .95);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper .list-group a{
	border: none;
	color: #777;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.report-attributes>div{
	float: left;
}
.report-attributes .btn-group .btn{
	width: 100%;
	height: auto;
}
.report-attributes .btn-group .btn i{
	font-size: 200%;
}

/**chat area**/

.avatar__img {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 100%;
}


.avatar__img img {
  width: 100%;
  height: 100%;
}


.chat-area {
  padding-top: 15px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}


.chat-header {
  background-color: white;
  z-index: 400;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #E8EEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.chat-header__title {
  font-size: 28px;
  font-weight: 600;
}

.chat-header__buttons button,
.chat-header__maximize button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.chat-users {
  position: relative;
}

.chat-users__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
  padding-right: 16px;
}

.chat-users__top button {
  background-color: transparent;
  border: 1px solid #E7E9EB;
  margin: 0 0 0 16px;
  padding: 0;
  width: 44px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.chat-users__search {
  width: 100%;
  position: relative;
}

.chat-users__search svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.chat-users__search .textfield {
  padding-left: 40px;
}

.chat-users-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 200;
}

.chat-area__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px;
  background-color: white;
  position: relative;
  z-index: 2;
}

.chat-area__top span {
  font-size: 20px;
}

.chat-area__top button {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  position: relative;
  border-radius: 4px;
  border: 1px solid #E7E9EB;
  outline: none;
  cursor: pointer;
}

.chat {
  padding: 0 16px;
  overflow-y: auto;
  height: 400px;
  padding-bottom: 70px;
}

.chat__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chat__item-wrap.typing {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__item {
  width: 100%;
  margin-bottom: 16px;
}

.chat__item-message-wrap {
  position: relative;
  left: 32px;
}

.chat__item-message {
  background-color: #C6E8FD;
  border-radius: 8px;
  padding: 8px;
  max-width: 520px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 10px solid #C6E8FD;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: -10px;
  top: 12px;
}

.chat__item.right {
  float: right;
}

.chat__item.right .chat__item-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chat__item.right .chat__item-message {
  background-color: #D2FAE2;
  text-wrap: normal;
}

.chat__item.right .chat__item-message-wrap {
  right: 32px;
  left: auto;
}

.chat__item.right .triangle {
  border-left: 10px solid #D2FAE2;
  border-right: 0;
  right: -10px;
  left: auto;
  top: 16px;
}

.chat__item.right .chat__date {
  text-align: right;
}

.chat__date {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.chat__date span {
  opacity: 0.5;
}

.chat__date svg {
  width: 16px;
  margin-left: 4px;
}

.chat__item-dots {
  margin-right: 16px;
  border: 1px solid #63BDF5;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
  border-radius: 32px;
}

.chat__item-dots span {
  display: inline-block;
  background-color: #64BDF5;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin: 0 2px;
}

.chat__item-dots .second {
  opacity: 0.7;
}

.chat__item-dots .third {
  opacity: 0.4;
}

.chat-area__bottom {
  background-color: white;
  position: absolute;
  z-index: 200;
  width: 100%;
  bottom: 0;
  padding: 16px;
}

.chat-area__bottom .textfield {
  /*padding-left: 44px;*/
  padding-right: 44px;
}

.chat-area__bottom button,
.chat-area__bottom .left {
  position: absolute;
}

.chat-area__bottom .left {
  left: 28px;
  top: 28px;
  width: 20px;
}

.chat-area__bottom button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.chat-area__bottom .right {
  right: 20px;
  top: 26px;
}


.textfield {
  border: 1px solid #E8EEEE;
  width: 100%;
  padding: 12px;
  margin: 0;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}

.btn-default{
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-primary{
    color: #fff !important;
    background-color: #22a7a4 !important;
    border-color: #22a7a4;
}

.col-sm-6 label{
	width: 100%;
}


.pac-container {
  z-index: 2000 !important;
}


.btn-group.bootstrap-select > .filter-btn:first-child:not(:last-child), .btn-group.bootstrap-select > .filter-dropdown:first-child:not(:last-child) .select2-selection, .btn-group.bootstrap-select > .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 17px;
}


.btn-group.bootstrap-select > .btn:hover, .btn-group.bootstrap-select > .btn:active, .btn-group.bootstrap-select > .btn:focus, .btn-group.bootstrap-select.open > .btn {
    background: #f2f2f2;
    border-color: #b1b9c3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;

    color: #000;
}


.navbar-admin{
  margin-top: 15px;
}

.navbar-admin a i{
  margin-top: 5px;
}

.module_header{
  display: none;
}

.btn-cancel{
	font-size: 14px;
}
