/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.user-activation-form__header {
  background: #50B748;
  color: #fff; }

.user-activation-form__form input + .input-label {
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in false;
  -o-transition: color 0.2s ease-in false;
  transition: color 0.2s ease-in; }

.user-activation-form__form .user-activation-form__input-label {
  position: absolute;
  top: 21px;
  right: 0px; }

.user-activation-form__form.ng-valid-match input.ng-dirty.ng-valid + .input-label {
  color: #50B748; }

.user-activation-form__form.ng-invalid-match input[type="text"].ng-dirty.ng-valid + .input-label {
  color: #50B748; }

.user-activation-form__form.ng-invalid-match input[type="password"].ng-dirty + .input-label {
  color: #D84935; }

.user-activation-step.ng-enter {
  animation: fadeIn 4s ease; }

.intro__wrapper {
  padding: 2rem 0rem;
  border-bottom: 1px solid #eee; }

.intro__icon, .intro__desc {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

.intro__icon {
  width: 15%;
  text-align: center; }
  .intro__icon img {
    max-height: 50px;
    max-width: 60px; }

.intro__desc {
  width: 70%; }
