/* CSS Document */


.about-us-header {

  min-height: 436px;
  width: 100%;
  /*padding-top: 95px;*/
  background: url(../img/about-us-image.jpg) no-repeat center;

}

.our-story_inner_box {
  text-align: center;
  margin: 82px auto 0 auto;
  padding-top: 25px;
}

.our-story-title {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-size: 72px;
  line-height: 72px;
  color: #fff;
  text-align: center;
  padding-top: 44px;
}

.our-story-content {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  font-weight: lighter;
  font-size: 21px;
  color: #fff;
  text-align: center;
}

.about-page-story {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 26px;
  color: #FFCC00;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

/**********the team***************/

.team-member {
  margin-bottom: 50px;
  padding: 15px;
  text-align: center;
}

.team-member:hover {
  background: #eee;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

aside.clients img {
  margin: 50px auto;
}


ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  outline: 0;
  color: #fff;
  background-color: #337ab7;
  /*#222;*/
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #428bca;
}





/* Flex Tile Styles

  8888888 8888888888  8 8888 8 8888         8 8888888888     d888888o.
        8 8888        8 8888 8 8888         8 8888         .`8888:' `88.
        8 8888        8 8888 8 8888         8 8888         8.`8888.   Y8
        8 8888        8 8888 8 8888         8 8888         `8.`8888.
        8 8888        8 8888 8 8888         8 888888888888  `8.`8888.
        8 8888        8 8888 8 8888         8 8888           `8.`8888.
        8 8888        8 8888 8 8888         8 8888            `8.`8888.
        8 8888        8 8888 8 8888         8 8888        8b   `8.`8888.
        8 8888        8 8888 8 8888         8 8888        `8b.  ;8.`8888
        8 8888        8 8888 8 888888888888 8 888888888888 `Y8888P ,88P'

*/

.tile {
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  color: #fff;
}

.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5,
.tile h6 {
  margin: 0;
}

.tile h1 a,
.tile h2 a,
.tile h3 a,
.tile h4 a,
.tile h5 a,
.tile h6 a {
  color: #fff;
}

/* -- Circle Tiles */

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}

.circle-tile-heading {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto -40px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #fff;
  transition: all ease-in-out .3s;
}

.circle-tile-heading .fa {
  line-height: 80px;
}

.circle-tile-content {
  padding-top: 50px;
}

.circle-tile-number {
  padding: 5px 0 15px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}

.circle-tile-description {
  text-transform: uppercase;
}

.circle-tile-footer {
  display: block;
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  transition: all ease-in-out .3s;
}

.circle-tile-footer:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.2);
}

.circle-tile-heading.dark-blue:hover {
  background-color: #2e4154;
}

.circle-tile-heading.green:hover {
  background-color: #138f77;
}

.circle-tile-heading.orange:hover {
  background-color: #da8c10;
}

.circle-tile-heading.blue:hover {
  background-color: #2473a6;
}

.circle-tile-heading.red:hover {
  background-color: #cf4435;
}

.circle-tile-heading.purple:hover {
  background-color: #7f3d9b;
}

/* -- Time Widget Tile */

.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.time-widget {
  margin-top: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 1.75em;
}

.time-widget-heading {
  text-transform: uppercase;
  font-size: .5em;
  font-weight: 400;
}

/* -- These image backgrounds are set to change automatically depending on the time of day. */

.morning {
  background: url(../img/widget-bg-morning.jpg) center bottom no-repeat;
  background-size: cover;
}

.afternoon {
  background: url(../img/widget-bg-afternoon.jpg) center bottom no-repeat;
  background-size: cover;
}

.evening {
  background: url(../img/widget-bg-evening.jpg) center bottom no-repeat;
  background-size: cover;
}

.midnight {
  background: url(../img/widget-bg-midnight.jpg) center bottom no-repeat;
  background-size: cover;
}

@media(min-width:768px) {
  .tile {
    margin-bottom: 30px;
  }

  .circle-tile {
    margin-bottom: 30px;
  }
}


/* Helper Classes

  8 8888        8 8 8888888888   8 8888         8 888888888o   8 8888888888   8 888888888o.     d888888o.
  8 8888        8 8 8888         8 8888         8 8888    `88. 8 8888         8 8888    `88.  .`8888:' `88.
  8 8888        8 8 8888         8 8888         8 8888     `88 8 8888         8 8888     `88  8.`8888.   Y8
  8 8888        8 8 8888         8 8888         8 8888     ,88 8 8888         8 8888     ,88  `8.`8888.
  8 8888        8 8 888888888888 8 8888         8 8888.   ,88' 8 888888888888 8 8888.   ,88'   `8.`8888.
  8 8888        8 8 8888         8 8888         8 888888888P'  8 8888         8 888888888P'     `8.`8888.
  8 8888888888888 8 8888         8 8888         8 8888         8 8888         8 8888`8b          `8.`8888.
  8 8888        8 8 8888         8 8888         8 8888         8 8888         8 8888 `8b.    8b   `8.`8888.
  8 8888        8 8 8888         8 8888         8 8888         8 8888         8 8888   `8b.  `8b.  ;8.`8888
  8 8888        8 8 888888888888 8 888888888888 8 8888         8 888888888888 8 8888     `88. `Y8888P ,88P'

*/

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

.dark-blue {
  background-color: #34495e;
}

.green {
  background-color: #16a085;
}

.blue {
  background-color: #2980b9;
}

.orange {
  background-color: #f39c12;
}

.red {
  background-color: #e74c3c;
}

.purple {
  background-color: #8e44ad;
}

.dark-gray {
  background-color: #7f8c8d;
}

.gray {
  background-color: #95a5a6;
}

.light-gray {
  background-color: #bdc3c7;
}

.yellow {
  background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

.text-dark-blue {
  color: #34495e;
}

.text-green {
  color: #16a085;
}

.text-blue {
  color: #2980b9;
}

.text-orange {
  color: #f39c12;
}

.text-red {
  color: #e74c3c;
}

.text-purple {
  color: #8e44ad;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Fixed Height Dashboard Demo Styles */

.dash-demo-tile {
  height: 250px;
  text-align: center;
}

.dash-demo-tile h4 {
  text-align: left;
}

#morris-chart-dashboard {
  width: 100%;
  height: 240px;
}


/* Morris Chart Styles */

.morris-hover-point {
  color: #34495e !important;
}

.morris-hover-row-label {
  color: #34495e;
}

.morris-hover.morris-default-style {
  padding: 0 10px 5px;
  border: 0;
  border-radius: 5px;
}

/* Dashboard Map Demo */

.vmap {
  height: 250px;
}

@media(min-width:768px) {
  .vmap {
    height: 500px;
  }
}



/* Morris Chart Styles */

.morris-hover-point {
  color: #34495e !important;
}

.morris-hover-row-label {
  color: #34495e;
}

.morris-hover.morris-default-style {
  padding: 0 10px 5px;
  border: 0;
  border-radius: 5px;
}

/* Flot Chart Styles */

.flot-chart {
  display: block;
  height: 200px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}


.flot-chart-dashboard {
  height: 240px;
}

.fc-green,
.fc-event {
  border-color: #15987e;
  color: #fff;
  background-color: #16a085;
}

.fc-orange {
  border-color: #e79411;
  color: #fff;
  background-color: #f39c12;
}

.fc-blue {
  border-color: #2779b0;
  color: #fff;
  background-color: #2980b9;
}

.fc-red {
  border-color: #db4839;
  color: #fff;
  background-color: #e74c3c;
}

.fc-purple {
  border-color: #8741a4;
  color: #fff;
  background-color: #8e44ad;
}

.fc-default {
  border-color: #314559;
  color: #fff;
  background-color: #34495e;
}

.fc-white {
  border-color: #cccccc;
  color: #333333;
  background-color: #ffffff;
}

.fc-header-title h2 {
  font-size: 1.5em;
}


/****************upload section*********************/
/*#progress { position:relative; width:100%; border: 1px solid #ddd; padding: 1px; border-radius: 3px; font-size: 70%;}
#bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
#percent { position:absolute; display:inline-block; top:3px; left:48%; }
*/
a.file_attch_btn {
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}


.section-simple-admin {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main_container_admin {
  min-height: 570px;
}

.alert {
  margin-bottom: 15px !important;
}

/*.main_nav .list-group-item:first-child, .settings_nav .list-group-item:first-child{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.main_nav .list-group-item:last-child, .settings_nav .list-group-item:last-child{
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}*/


/*****checkbox****/


.form-checkbox,
.form-radio {
  padding-right: 10px;
  padding-left: 34px;
  text-indent: -34px;
  display: inline;
  display: inline-block;
  *zoom: 1;
}

.form-control .form-checkbox,
.form-control .form-radio {
  padding-top: 10px;
  /* should be as tall as a typical form element */
}

/*
	Enhanced Input Types
*/
/* Enhanced checkboxes and radio buttons */
.enhanced-checkbox {
  display: inline;
  display: inline-block;
  *zoom: 1;
  position: relative;
  /* width: 26px;
  height: 26px;
  margin-right: 4px;
  margin-bottom: 2px; */
  vertical-align: middle;
}

.enhanced-checkbox input,
.enhanced-checkbox span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.enhanced-checkbox input {
  /* Be above the span.checkbox */
  z-index: 2;
  opacity: 0;
}

.enhanced-checkbox span {
  background-image: url("../images/icon_sprite.png?version=1902015");
  background-position: -96px -128px;
}

.enhanced-checkbox input:focus~span,
.input-hover-toggle .enhanced-checkbox input~span {
  background-position: -128px -128px;
}

.enhanced-checkbox input:active~span {
  background-position: -160px -128px;
}

.enhanced-checkbox input:checked~span {
  background-position: 0px -128px;
}

.enhanced-checkbox input:checked:focus~span,
.input-hover-toggle .enhanced-checkbox input:checked~span {
  background-position: -32px -128px;
}

.enhanced-checkbox input:checked:active~span {
  background-position: -64px -128px;
}

.enhanced-checkbox input:disabled~span {
  background-position: -160px -128px;
}

.enhanced-radio {
  display: inline;
  display: inline-block;
  *zoom: 1;
  position: relative;
  /* width: 26px;
  height: 26px;
  margin-right: 4px;
  margin-bottom: 2px; */
  vertical-align: middle;
}

.enhanced-radio input,
.enhanced-radio span {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.enhanced-radio input {
  /* Be above the span.checkbox */
  z-index: 2;
  opacity: 0;
}

.enhanced-radio span {
  background-image: url("../images/icon_sprite.png?version=1902015");
  background-position: -288px -128px;
}

.enhanced-radio input:focus~span,
.input-hover-toggle .enhanced-radio input~span {
  background-position: -320px -128px;
}

.enhanced-radio input:active~span {
  background-position: -352px -128px;
}

.enhanced-radio input:checked~span {
  background-position: -192px -128px;
}

.enhanced-radio input:checked:focus~span,
.input-hover-toggle .enhanced-radio input:checked~span {
  background-position: -224px -128px;
}

.enhanced-radio input:checked:active~span {
  background-position: -256px -128px;
}

.enhanced-radio input:disabled~span {
  background-position: -352px -128px;
}


.page-title {
  display: none;
}


.navbar-admin {
  margin-top: 10px !important;
}

.nav-toggle-admin p {
  line-height: 19px;
  margin: 0;
}

.nav-toggle-admin i {
  margin-top: 5px;
}

.sidebar-wrapper-admin .list-group a {
  border: none;
}


.sidebar-wrapper-admin.active {
  right: 250px !important;
  width: 250px !important;
}

.main_container_admin {
  min-height: 650px !important;
}

textarea {
  resize: vertical;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
.form-group select:focus,
textarea:focus {
  color: #242a30;
  border-color: transparent;
  box-shadow: inset 0 0 0 1px #ff7b10;
  /* #06F;51af33*/
  border: 1px solid #ff7b10;

  /*box-shadow: 0 0 2px #06F;
    padding: 7px 8px;*/
}

/*.form-group.has-error input, .form-group.has-error input:focus, .form-group.has-error select, .form-group.has-error select:focus,  .form-group.has-error textarea, .form-group.has-error textarea:focus {
    border: 2px solid #f30000;
    padding: 7px 8px;
}*/

.btn-linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.btn-linkedin:hover,
.btn-linkedin:active,
.btn-linkedin:focus {
  background-color: #07689b;
}


.btn-twitter {
  background-color: #33ccff;
  border-color: #33ccff;
}

.btn-twitter:hover,
.btn-twitter:active,
.btn-twitter:focus {
  background-color: #2fb5e2;
  border-color: #2fb5e2;
}

button.btn,
a.btn,
.btn:visited {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
}

.modal form button.btn.btn-primary,
.modal form a.btn.btn-primary,
.modal form .btn.btn-cancel {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-appearance: none;
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.38em;
  height: auto;
  border-radius: 4px;
  font-size: 20px;
  font-weight: normal;

  /*border: 1px solid #b1b9c3;
    background-color: white;*/
  outline: none;
  cursor: pointer;
  -webkit-transition-property: background, color, border-color, box-shadow;
  transition-property: background, color, border-color, box-shadow;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.16s;
  transition-duration: 0.16s;
  line-height: 1.4;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: none;

  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;

}


.modal table form button.btn.btn-primary {
  padding: 5px 10px;
  font-size: 12px;
}

.btn:hover {
  box-shadow: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-10 {
  padding-top: 10px;
}


.dataTables_wrapper>.row {
  padding-top: 15px;
  margin: 0;
}

.bootstrap-select.form-control.input-sm {
  height: 39px;
}



/**chat area**/

.avatar__img {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border-radius: 100%;
}


.avatar__img img {
  width: 100%;
  height: 100%;
}


.chat-area {
  padding-top: 15px;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}


.chat-header {
  background-color: white;
  z-index: 400;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #E8EEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px;
}

.chat-header__title {
  font-size: 28px;
  font-weight: 600;
}

.chat-header__buttons button,
.chat-header__maximize button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 0;
  outline: none;
  background-color: transparent;
}

.chat-users {
  position: relative;
}

.chat-users__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-right: 16px;
}

.chat-users__top button {
  background-color: transparent;
  border: 1px solid #E7E9EB;
  margin: 0 0 0 16px;
  padding: 0;
  width: 44px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.chat-users__search {
  width: 100%;
  position: relative;
}

.chat-users__search svg {
  position: absolute;
  top: 10px;
  left: 10px;
}

.chat-users__search .textfield {
  padding-left: 40px;
}

.chat-users-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 200;
}

.chat-area__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px;
  background-color: white;
  position: relative;
  z-index: 2;
}

.chat-area__top span {
  font-size: 20px;
}

.chat-area__top button {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  position: relative;
  border-radius: 4px;
  border: 1px solid #E7E9EB;
  outline: none;
  cursor: pointer;
}

.chat {
  padding: 0 16px;
  overflow-y: auto;
  height: 400px;
  padding-bottom: 70px;

}

.chat__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chat__item-wrap.typing {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.chat__item {
  width: 100%;
  margin-bottom: 16px;
}

.chat__item-message-wrap {
  position: relative;
  left: 32px;
}

.chat__item-message {
  background-color: #C6E8FD;
  border-radius: 8px;
  padding: 8px;
  max-width: 430px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-right: 10px solid #C6E8FD;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: -10px;
  top: 12px;
}

.chat__item.right {
  float: right;
}

.chat__item.right .chat__item-wrap {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.chat__item.right .chat__item-message {
  background-color: #D2FAE2;
}

.chat__item.right .chat__item-message-wrap {
  right: 32px;
  left: auto;
}

.chat__item.right .triangle {
  border-left: 10px solid #D2FAE2;
  border-right: 0;
  right: -10px;
  left: auto;
  top: 16px;
}

.chat__item.right .chat__date {
  text-align: right;
}

.chat__date {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
}

.chat__date span {
  opacity: 0.5;
}

.chat__date svg {
  width: 16px;
  margin-left: 4px;
}

.chat__item-dots {
  margin-right: 16px;
  border: 1px solid #63BDF5;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 12px;
  border-radius: 32px;
}

.chat__item-dots span {
  display: inline-block;
  background-color: #64BDF5;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin: 0 2px;
}

.chat__item-dots .second {
  opacity: 0.7;
}

.chat__item-dots .third {
  opacity: 0.4;
}

.chat-area__bottom {
  background-color: white;
  position: absolute;
  z-index: 200;
  width: 100%;
  bottom: 0;
  padding: 16px;
}

.chat-area__bottom .textfield {
  /*padding-left: 44px;*/
  padding-right: 44px;
}

.chat-area__bottom button,
.chat-area__bottom .left {
  position: absolute;
}

.chat-area__bottom .left {
  left: 28px;
  top: 28px;
  width: 20px;
}

.chat-area__bottom button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.chat-area__bottom .right {
  right: 20px;
  top: 26px;
}


.textfield {
  border: 1px solid #E8EEEE;
  width: 100%;
  padding: 12px;
  margin: 0;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}


/***collapse **/

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
}

.list-group.list-group-root>.list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root>.list-group>.list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root>.list-group>.list-group>.list-group-item {
  padding-left: 45px;
}

.list-group-item .glyphicon {
  margin-right: 5px;
}

.modal .btn[type="submit"],
form .btn[type="submit"] {
  float: right !important;
  margin-left: 5px;
}

.btn-primary {
  background: #ff7b10;
  border-color: #ff7b10;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #ff7b10;
  border-color: #ff7b10;
  opacity: .9;
}

.btn.btn-grey,
.quoteaction-button {
  color: #fff;
  background: #666;
  border-color: #666;
}



.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus,
.quoteaction-button:hover,
.quoteaction-button:active,
.quoteaction-button:focus {
  color: #fff;
  background: #666;
  border-color: #666;
  opacity: .9;
}

.quoteaction-button.active {
  color: #fff;
  background: #ff7b10;
  border-color: #ff7b10;
}

.quoteaction-button.active:active,
.quoteaction-button.active:hover,
.quoteaction-button.active:focus {
  color: #fff;
  background: #ff7b10;
  border-color: #ff7b10;
  opacity: .9;
}


.sm-gutter {
  margin-left: -2px;
  margin-right: -2px;
}

.sm-gutter>[class*='col-'] {
  padding-right: 2px;
  padding-left: 2px;
}


.dataTables_filter {
  position: relative;
  top: -61px;
  right: 150px;
  display: none;
}


.portfolio-modal .modal-body {
  margin-top: 75px;
}

.portfolio-modal .modal-body h1 {
  text-align: left !important;
}


.row-product-tab2>div {
  position: absolute;
  background: #fff;
  top: 120px;
  min-height: 530px;
  z-index: 52;
  left: -15px;
  padding-left: 15px;
}


.module_header {
  display: none;
}

.navbar-static-top {
  position: fixed;
  width: 100%;
}

.modal-backdrop {
  background-color: #000 !important;
}


/***side progress**/

nav .lifecycle {
  /*border-top: 1px dotted #d2d2d2;*/
  padding-top: 4px
}

nav .lifecycle span {
  font-size: 13px;
  display: block;
  text-align: center;
  margin-bottom: 3px;
  color: #505050;
  margin-bottom: 15px
}

nav .lifecycle h5 {
  font-size: 16px;
  margin-bottom: 3px;
  text-align: center;
  color: #454855
}

@media screen and (max-width:480px) {
  nav .lifecycle {
    display: none
  }
}

nav .lifecycle ul.list {
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
  list-style: none !important;

}

@media screen and (max-width:480px) {
  nav .lifecycle ul.list {
    width: 200px;
    overflow: hidden;
    margin: 0 auto;
    list-style: none !important;
  }
}

nav .lifecycle ul.list .item {
  height: 40px
}

nav .lifecycle ul.list .item:nth-child(1) .circle {
  -webkit-animation-delay: .02s;
  animation-delay: .02s
}

nav .lifecycle ul.list .item:nth-child(2) .circle {
  -webkit-animation-delay: .04s;
  animation-delay: .04s
}

nav .lifecycle ul.list .item:nth-child(3) .circle {
  -webkit-animation-delay: .06s;
  animation-delay: .06s
}

nav .lifecycle ul.list .item:nth-child(4) .circle {
  -webkit-animation-delay: .08s;
  animation-delay: .08s
}

nav .lifecycle ul.list .item:nth-child(5) .circle {
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}

nav .lifecycle ul.list .item:nth-child(6) .circle {
  -webkit-animation-delay: .12s;
  animation-delay: .12s
}

nav .lifecycle ul.list .item:nth-child(7) .circle {
  -webkit-animation-delay: .14s;
  animation-delay: .14s
}

nav .lifecycle ul.list .item:nth-child(8) .circle {
  -webkit-animation-delay: .16s;
  animation-delay: .16s
}

nav .lifecycle ul.list .item:nth-child(9) .circle {
  -webkit-animation-delay: .18s;
  animation-delay: .18s
}

nav .lifecycle ul.list .item .indicator {
  width: 50px;
  height: 40px;
  position: relative;
  float: left;
  padding: 0;
  border: none;
}

nav .lifecycle ul.list .item .indicator .semiline {
  width: 3px;
  height: 50%;
  margin: 0 auto;
  background: #d2d2d2
}

nav .lifecycle ul.list .item .indicator .circle {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #d2d2d2;
  top: 5px;
  left: 10px;
  background: #f9f9f9
}

nav .lifecycle ul.list .item span {
  line-height: 40px;
  font-size: 14px;
  text-align: left
}

nav .lifecycle ul.list .item.end .semiline:nth-child(2),
nav .lifecycle ul.list .item.start .semiline:first-child {
  background: inherit
}

nav .lifecycle ul.list .item.complete .circle {
  background: #438bd7;
  border-color: #438bd7
}

nav .lifecycle ul.list .item.current .semiline:first-childe {
  background: #438bd7
}

nav .lifecycle ul.list .item.current .circle {
  background: #f3a309;
  border-color: #f3a309
}

nav .lifecycle ul.list .item.current .circle i {
  padding-top: 5px;
}

nav .lifecycle ul.list .item a:hover {
  text-decoration: none;
}


.row>.leftbar-still {
  position: fixed;
  top: 160px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  left: 8%;
}


.sidebar_nav {
  position: fixed;
  top: 120px;
  left: 0px;
  height: 80vh;
  overflow: auto;
}

span.img-hover {
  margin-right: 10px;
  height: 40px;
  width: 40px;
}


.img-hover span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  font-size: 10px;
  text-align: center;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  left: 10px;


  width: 40px;
}


.img-hover span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.img-hover span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 40px;
  top: 15px;
  left: 15px;
  position: absolute;
  width: 40px;
  opacity: 0;
}

.img-hover:hover span.text-content {
  opacity: 1;
}


.the-items-list-1 .remove-item-btn,
.the-items-list-2 .remove-item-btn {
  padding-left: 5px;
}

.the-items-list-1 .badge-like,
.the-items-list-2 .badge-like {
  padding: 5px 10px;
  color: #438bd7;
  display: inline-block;
  white-space: nowrap;
  border-radius: 10px;
  background-color: #eee;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 100%;
}

.badge-red {
  background-color: #e74c3c;
}

.table-datatable {
  display: none;
}

.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.occupation-content {
  /*padding-top: 230px;*/
  z-index: 1;
  height: 56vh;
  overflow-y: scroll;
}


.product_submenu .panel-body {
  padding-top: 0;
  padding-bottom: 20px;
}

.product_submenu a:hover .panel-body {
  background: #009ddc;
  color: #fff;
}

.product_submenu .panel-body i {
  display: none;
}

/**animation&*/

@keyframes flash {

  0%,
  100% {
    background: rgba(0, 255, 0, 0);
  }

  25%,
  50% {
    background: rgba(0, 255, 0, .3);
  }

  75% {
    background: rgba(0, 255, 0, .1);
  }
}

.flash_animation td,
.flash_animation {
  background: transparent;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: flash;
}

.flash_animation2 td,
.flash_animation2 {
  background: transparent;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: flash;
}


/* -- Ripple effect -------------------------------- */
.ripplelink {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: rgba(0, 157, 220, .5);
  /* #009ddc;*/
  opacity: 1;
}

.ink.animate {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}


input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder {
  visibility: hidden !important;
}

.select_country_tbl {
  cursor: pointer;
}

.modal-content {
  box-shadow: none !important;
}

.modal-container-scroll {
  height: 73vh;
  overflow-y: auto;
}

.panel .loading-table {
  display: none;
  visibility: hidden;
}


.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
}

.loading-wheel {
  width: 20px;
  height: 20px;
  margin-top: -40px;
  margin-left: -40px;

  position: absolute;
  top: 50%;
  left: 50%;

  /*border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;*/
}

/*.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}*/

.btn-upload {
  padding: 50px 0;
  border: 1px dashed #333;
}

.help-block.valid {
  position: relative;
  height: 0px;
  top: -32px;
  margin-left: 102%;
}

.form-group.has-warning .help-block,
.form-group.has-danger .help-block,
.form-group .help-block[for=lat] {
  position: relative;
  height: 0px;
  top: -32px;
  margin-left: 102%;
}


.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background: #0080b3;
}

.panel.panel-draggable {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
  border: 2px solid;

}

.panel.panel-draggable .panel-body {
  padding-bottom: 15px;
}

.mobile_input .mobile-icon {
  position: absolute;
  ;
  top: 29px;
  left: 23px;
}

.mobile_input input {
  padding-left: 25px;
}

.the_main_container.side-collapsed .sidebar_nav {
  width: 75px;
  z-index: 1000;
}


.the_main_container.side-collapsed .row_the_content>div:first-child {
  width: 0 !important;
}

.the_main_container.side-collapsed .row_the_content>div:nth-child(2) {
  width: 100% !important;
  padding-left: 75px !important;
  border: none !important;
}


.side-collapsed .ripplelink span,
.side-collapsed .ripplelink>i:nth-child(2),
.side-collapsed .ripplelink>i:nth-child(3) {
  display: none !important;
}