/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color: #fff;
  line-height: 1;
  height: 50px;
  background: #009ddc; /*#50B748;*/
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.header-logo {
  height: 50px;
  width: 190px;
  display: block;
  float: left;
  line-height: 50px;
  padding-left: 20px; }
  .header-logo img {
    height: 28px;
    vertical-align: middle; }

.header-profile {
  position: relative;
  height: 50px;
  line-height: 50px;
  min-width: 180px;
  max-width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  white-space: nowrap;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  border-left: 1px solid #ccc; /*#73c56d;*/ }
  .header-profile:hover {
    background: rgba(255, 255, 255, 0.1); }
  .header-profile #header-profile:checked + .dropdown-menu {
    display: block; }
  .header-profile .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin-top: 0;
    right: 0px; }

.header-profile-image {
  vertical-align: middle;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.header-profile-name {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  line-height: 40px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 190px; }

.header-content {
  text-align: right; }

a.btn.btn--header {
  height: 34px;
  line-height: 22px;
  color: #fff;
  display: inline-block;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
  border-radius: 5; }
  a.btn.btn--header.btn--hollow {
    border: 1px solid #fff;
    font-weight: 600; }
    a.btn.btn--header.btn--hollow i.icon-message {
      font-size: 20px;
      font-weight: 600;
      vertical-align: top; }
    a.btn.btn--header.btn--hollow .caption {
      display: inline-block;
      vertical-align: top; }
  a.btn.btn--header .btn--help i {
    font-size: 18px; }
  a.btn.btn--header:hover {
    color: #fff; }

.btn.btn--trial {
  padding-left: 40px;
  padding-top: 2px; }
  .btn.btn--trial .btn--trial_days {
    position: absolute;
    left: 8px;
    top: 4px;
    font-weight: bold;
    font-size: 22px; }
  .btn.btn--trial .btn--trial_text p {
    text-align: left;
    line-height: 1;
    font-size: 12px;
    margin: 0 0 2px 0;
    text-transform: none; }
  .btn.btn--trial .btn--trial_text p.small {
    text-transform: none;
    font-size: 10px; }

.help-btn {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 26px;
  height: 26px;
  line-height: 24px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }
  .help-btn:hover, .help-btn:focus, .help-btn.active {
    background: #26BCB9; }
  .help-btn i {
    font-size: 14px; }

.tablet-only .btn--hollow > .caption, .mobile-only .btn--hollow > .caption {
  display: none !important; }

.tablet-only .btn--hollow > i, .mobile-only .btn--hollow > i {
  margin-right: 0px; }

.btn__shortcut-add {
  vertical-align: middle;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in false;
  -o-transition: all 0.1s ease-in false;
  transition: all 0.1s ease-in;
  position: absolute;
  top: 12px;
  left: 190px;
  z-index: 54; }
  .btn__shortcut-add .btn__shortcut-add__icon {
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: 1px solid #fff;
    font-size: 2em;
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 4px; }
    .btn__shortcut-add .btn__shortcut-add__icon:hover {
      background: #fff;
      color: #50B748; }
  .btn__shortcut-add .popover {
    cursor: default; }

.shortcut-popover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  border-color: #EEE;
  width: 150px;
  margin-left: 44px;
  margin-top: 2px; }
  .shortcut-popover.shortcut-popover--help {
    width: 220px;
    margin-left: 60px; }
  .shortcut-popover hr {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #EEE; }
  .shortcut-popover .popover-title {
    border-radius: 0px;
    color: #414141;
    padding: 0;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: none; }
    .shortcut-popover .popover-title i {
      margin-right: 5px; }
  .shortcut-popover .arrow {
    left: 20% !important; }
  .shortcut-popover .shortcut-popover__link {
    color: #414141;
    line-height: 30px;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear false;
    -o-transition: color 0.1s linear false;
    transition: color 0.1s linear; }
    .shortcut-popover .shortcut-popover__link:hover {
      color: #26BCB9; }

.shortcut-popover.shortcut-popover--request .shortcut-popover__link {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase; }

.notification-popover {
  width: 400px;
  max-width: 400px;
  cursor: default;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #f3f3f3;
  border-radius: 1px;
  color: #111; }
  .notification-popover .comment-bubble {
    min-width: 100%;
    max-width: 100%;
    cursor: pointer;
    border-left: 3px solid #26BCB9; }
  .notification-popover .popover-notification-title {
    border-radius: 0px;
    color: #111;
    padding: 10px 14px;
    margin: 0;
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
    background: #eee;
    border-bottom: 1px solid #ccc; }
  .notification-popover .comment-list {
    padding: 10px;
    max-height: 500px;
    overflow: auto; }
  .notification-popover .comment-list-item {
    -webkit-animation: zoomin 0.5s;
    -moz-animation: zoomin 0.5s;
    -ms-animation: zoomin 0.5s;
    -o-animation: zoomin 0.5s;
    animation: zoomin 0.5s; }
  .notification-popover .comment-list li.empty-list-item {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    -o-animation: none;
    animation: none; }
  .notification-popover .comment-list .comment-list-item + .comment-list-item {
    margin-top: 10px; }
  .notification-popover .notification-inbox-btn {
    display: block;
    padding: 10px 14px;
    background: #eee;
    border-top: 1px solid #ccc;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #111; }

.header-section {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 48px;
  height: 50px;
  padding: 0 10px;
  color: #fff;
  border-left: 1px solid #ccc; /*#73c56d;*/
  text-align: center; }
  .header-section .header-section-icon {
    vertical-align: middle;
    font-size: 20px; }
  .header-section .header-section-badge {
    position: absolute;
    display: block;
    line-height: 1;
    top: 0;
    right: -2px;
    font-size: 11px;
    padding: 2px 4px;
    background: #D84935; }

.btn--header + .header-section {
  margin-left: 10px; }

.header-domain-switch {
  display: none; }

.header-domain-switch-select {
  height: 34px;
  font-size: 11px;
  vertical-align: middle;
  max-width: 100px; }

/*********************
Navigation
*********************/
.l-nav-container {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  float: left;
  bottom: 0;
  width: 64px;
  border-right: 1px solid #eee;
  background: #4b555b;
  min-height: 100vh;
  padding-bottom: 160px;
  -webkit-transition: width 0.3s false, -webkit-transform 0.3s false;
  -moz-transition: width 0.3s false false, -moz-transform 0.3s false false;
  -o-transition: width 0.3s false false, -o-transform 0.3s false false;
  transition: width 0.3s, transform 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none; }
  .l-nav-container.is-fixed {
    position: fixed;
    bottom: 0; }

.nav {
  position: relative; }

.nav-parent {
  min-height: 50px;
  position: relative;
  border-bottom: 1px solid #3f484d; }

.nav-icon {
  display: block;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 20px;
  position: relative; }

.nav-icon-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.nav a, .nav label {
  display: block;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  cursor: pointer;
  margin: 0;
  position: relative;
  z-index: 1001;
  line-height: 50px; }

.nav-label {
  display: none; }

.nav-parent a:hover, .nav-parent label:hover {
  background: #576269; }

.nav-parent > a.active, .nav-parent > label.active {
  font-weight: 700;
  background: #343b3f; }

.nav-parent .nav--has-child::after {
  content: '\f078'; /*"\e802";*/
  font-family: 'fontawesome'; /*'icomoon';*/
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -4px;
  font-size: 8px;
  line-height: 1;
  display: none; }

.nav-parent.has-child input[type="checkbox"]:checked + .nav-parent-a {
  background: #343b3f;
  color: #fff; }

.nav-parent.tab-locked a, .nav-parent.tab-locked label {
  background: #D84935; }
  .nav-parent.tab-locked a:hover, .nav-parent.tab-locked label:hover {
    background: #cc3c27; }

.nav-parent.tab-locked .nav--has-child::after {
  content: "\e620"; }

/*------------------------------------*    # NAVIGATION CHILD LIST
\*------------------------------------*/
.nav-child {
  z-index: 1000;
  background: #4b555b;
  min-width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 64px;
  width: 200px; }

.nav-child li {
  width: 100%;
  float: none;
  white-space: nowrap; }
  .nav-child li > a:hover {
    border-right: 6px solid #26BCB9;
    background: #576269; }

.nav-subheader {
  border-top: 1px solid #343b3f;
  border-bottom: 2px solid #343b3f;
  background: #3f484d;
  color: #b3b3b3;
  font-size: 9px;
  text-transform: uppercase;
  padding: 5px 15px; }

.nav-child a {
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 50px;
  padding: 0 20px; }

.nav-child a.active {
  border-right: 6px solid #FAAB18;
  background: lighten #576269; }

.nav-badge {
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -12px;
  height: 24px;
  line-height: 22px;
  padding: 0 8px;
  min-width: 14px;
  background: #3f484d;
  border-radius: 10px;
  color: #FFF;
  font-size: 10px;
  text-align: center;
  z-index: 1002;
  display: none;
  right: 999px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); }

.nav-child a.active .nav-badge, .nav-child li > a:hover .nav-badge {
  right: 20px; }

.nav-child .nav-badge {
  right: 25px; }

@media (min-width: 1400px) {
  .nav a, .nav label {
    overflow: hidden;
    padding: 0px 10px 0px 50px; }
    .nav a > span, .nav label > span {
      display: inline-block; }
  .nav-parent {
    overflow: hidden;
    z-index: 1; }
    .nav-parent.has-child.active::after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      content: '';
      height: 1px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      z-index: 1001; }
    .nav-parent.has-child.active::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      content: '';
      height: 1px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      z-index: 1002; }
    .nav-parent.active {
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd; }
    .nav-parent .nav--has-child::after {
      display: block; }
  .nav-child {
    position: relative;
    left: 0;
    width: auto; }
    .nav-child a {
      line-height: 40px;
      padding-left: 25px; }
      .nav-child a:hover {
        background: #606d74; }
  .nav-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    top: 0;
    left: 0; }
  .subnav {
    display: none; }
  .l-nav-container .nav-info {
    display: block; }
  .l-nav-container .nav-more {
    display: none; }
  .nav-parent.active .nav-child {
    display: block; }
  .nav-parent.has-child input[type="checkbox"]:checked ~ .nav-child {
    display: block; }
  .nav-badge {
    right: 25px; } }

@media (min-width: 640px) {
  .nav-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #4b555b; } }

@media (min-width: 640px) and (max-width: 1400px) {
  .nav-parent.has-child:hover .nav-child {
    display: block; }
    .nav-parent.has-child:hover .nav-child .nav-label {
      display: block; } }

@media (min-width: 640px) {
  .nav-parent.has-child:hover ~ .subnav {
    left: 63px;
    border-left: 1px solid #343b3f; }
  .subnav {
    position: fixed;
    width: 201px;
    top: 0;
    bottom: 0;
    left: 0;
    background: #4b555b;
    left: -264px;
    -webkit-box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0 10px -5px rgba(0, 0, 0, 0.1);
    z-index: -1;
    -webkit-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease false;
    -o-transition: left 0.3s ease false;
    transition: left 0.3s ease; } }

/*------------------------------------*    # NAV ICONS
\*------------------------------------*/
.nav-icon-dashboard:before {
  content: "\e600"; }

.nav-icon-request:before {
  content: "\e601"; }

.nav-icon-approval:before {
  content: "\e602"; }

.nav-icon-procure:before {
  content: "\e603"; }

.nav-icon-receive:before {
  content: "\e604"; }

.nav-icon-inventory:before {
  content: "\e605"; }

.nav-icon-payment:before {
  content: "\e606"; }

.nav-icon-manage:before {
  content: "\e607"; }

.nav-icon-reports:before {
  content: "\e62a"; }

.nav-icon-settings:before {
  content: "\e609"; }

/*------------------------------------*    # NAV HCILD OVERRIDES
\*------------------------------------*/
.nav-child-accounts-payable {
  top: -170px; }

/*------------------------------------*    # NAV INFO SECTION
\*------------------------------------*/
.nav-more-popover {
  line-height: 26px; }
  .nav-more-popover a {
    font-size: 12px;
    margin: 0px 6px; }

.nav-info {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 20px 10px; }
  .nav-info a {
    display: inline;
    padding: initial;
    margin: 0 3px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
    color: #97999A;
    white-space: nowrap;
    cursor: pointer; }
  .nav-info .nav-info_icon {
    font-size: 32px;
    cursor: default; }

.desktop .btn-header-profile {
  max-width: none; }

@media (min-width: 1400px) {
  .l-nav-container {
    width: 190px; }
  .l-app-container {
    margin-left: 190px; }
  .nav-child {
    top: 0; }
  .nav-subheader--collapsed-only {
    display: none; }
  .nav-icon-tooltip {
    display: none; } }
