/*
 *
 * COLORS
 *
 * #COLORS PALETTE
 *
 * #CONTEXTUAL COLORS
 *
 * #PRIMARY COLORS
 *
 * #SECONDARY COLORS
 *
 * #TEXT COLORS
 *
 * #ALIASES
 *
 */
/*------------------------------------*    #COLORS PALETTE
\*------------------------------------*/
/*------------------------------------*    #CONTEXTUAL COLORS
\*------------------------------------*/
/*------------------------------------*    #PRIMARY COLORS
\*------------------------------------*/
/*------------------------------------*    #SECONDARY COLORS
\*------------------------------------*/
/*------------------------------------*    #TEXT COLOR
\*------------------------------------*/
/*------------------------------------*    #ALIASES
\*------------------------------------*/
/*------------------------------------*    #FILETYPES
\*------------------------------------*/
/*------------------------------------*    # COLOR CLASSES
\*------------------------------------*/
/*------------------------------------*    # STATUS COLORS
\*------------------------------------*/
/*------------------------------------*    # INBOX
\*------------------------------------*/
.inbox-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 80px 40px 40px 40px; }
  .inbox-modal .tabs {
    border-bottom: 1px solid #aaa; }
  .inbox-modal .inbox-filter-bar {
    padding: 20px 0 5px 0; }
  .inbox-modal .inbox-content {
    padding: 0 0 80px 0; }
  .inbox-modal .inbox-group-divider {
    position: relative;
    text-align: left; }
    .inbox-modal .inbox-group-divider hr {
      margin: 0;
      border: none;
      border-top: 1px solid #aaa;
      position: absolute;
      left: 0;
      right: 0;
      top: 8px; }
    .inbox-modal .inbox-group-divider .inbox-group-title {
      position: relative;
      color: #aaa;
      background: #f3f3f3;
      display: inline-block;
      line-height: 14px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 0 10px 0 0;
      -webkit-box-shadow: 0 0 10px 10px #f3f3f3;
      -moz-box-shadow: 0 0 10px 10px #f3f3f3;
      box-shadow: 0 0 10px 10px #f3f3f3; }
  .inbox-modal .inbox-unread-count {
    display: inline-block;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #26BCB9; }
  .inbox-modal .comment-list-more-loader {
    padding: 40px;
    text-align: center; }
  .inbox-modal .comment-list.inbox-list .inbox-list-item {
    position: relative;
    padding-left: 50px; }
    .inbox-modal .comment-list.inbox-list .inbox-list-item.inbox-list-item--divider {
      padding-left: 0; }
  .inbox-modal .comment-list.inbox-list .inbox-item-actions {
    position: absolute;
    right: 0;
    top: 15px; }
  .inbox-modal .comment-list.inbox-list .comment-sender .object, .inbox-modal .comment-list.inbox-list .comment-sender .object-icon {
    width: 50px;
    height: 50px; }
  .inbox-modal .comment-list.inbox-list .comment-sender .object-icon img {
    width: 50px;
    height: 50px;
    line-height: 50px; }
  .inbox-modal .comment-list.inbox-list .comment-bubble {
    padding: 15px;
    margin: 0 15px;
    min-width: 450px;
    max-width: 90%;
    border-left: 5px solid #26BCB9;
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color 0.3s ease, border-left-width 0.3s ease, border-left-color 0.3s ease;
    -moz-transition: background-color 0.3s ease false, border-left-width 0.3s ease false, border-left-color 0.3s ease false;
    -o-transition: background-color 0.3s ease false, border-left-width 0.3s ease false, border-left-color 0.3s ease false;
    transition: background-color 0.3s ease, border-left-width 0.3s ease, border-left-color 0.3s ease; }
    .inbox-modal .comment-list.inbox-list .comment-bubble.comment-bubble--read {
      border: 1px solid #ccc;
      background-color: #f3f3f3; }
  .inbox-modal .comment-list.inbox-list .comment-bubble-actions {
    position: absolute;
    right: 15px;
    top: 15px; }
  .inbox-modal .comment-list.inbox-list .comment-bubble-name {
    font-size: 11px; }
  .inbox-modal .comment-list.inbox-list .comment-bubble-date {
    font-size: 11px;
    color: #666; }
  .inbox-modal .comment-list.inbox-list .comment-top-info {
    font-size: 11px; }
    .inbox-modal .comment-list.inbox-list .comment-top-info p {
      line-height: 1; }
  .inbox-modal .comment-list.inbox-list .comment-bubble-content {
    color: #000; }
